$color-primary: #7cecd5;
$color-primary-light: #8fe4d1;
$color-primary-lighter: #b0ecde;
$color-secondary: #5ea9ef;
$color-shadow: #d8d8d8;
$color-grey: #e3e5e5;
$color-grey-light: #ededed;
$color-grey-dark: #cecece;
$color-grey-darker: #b2b2b2;
