label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0.5rem;
  margin-top: 0.2rem;
  appearance: none;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url('~@/assets/circle.svg');

  &:checked {
    &[type="radio"] {
      background-image: url('~@/assets/circle-dot.svg');
    }

    &[type="checkbox"] {
      background-image: url('~@/assets/circle-check.svg');
    }
  }
}

input[type="date"] {
  width: 16rem;
  padding: 1rem;
  text-align: end;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem $color-shadow;
  background-image: url('~@/assets/calendar.svg');
  background-repeat: no-repeat;
  background-position: 0.75rem;
  background-size: 2.5rem;
}

button {
  padding: 0.6rem 1.6rem;
  color: white;
  background-color: $color-primary-light;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem $color-shadow;
}
