<template>
<div class="home">
  <div class="search">
    <input type="search" placeholder="Buscar..." v-model="searchTerm" @keyup.enter="addSearchTerm()">
    <img class="search-add" src="@/assets/plus-color.svg" @click="addSearchTerm()">
    <div class="search-tags">
      <div class="search-tag" v-for="(v, i) in searchTerms" :key="v" @click="removeSearchTerm(i)">{{v}}</div>
    </div>
  </div>
  <Dropdown class="config" :title="'Configuración'">
    <div class="columns">
      <div class="column">
        <span class="column-title">Periodicidad</span>
        <label>
          <input type="radio" name="periodicity"> No hacer periódicamente
        </label>
        <label>
          <input type="radio" name="periodicity"> Repetir diariamente
        </label>
        <input type="date">
      </div>
      <div class="column">
        <span class="column-title">Fuentes</span>
        <label>
          <input type="checkbox"> Twitter
        </label>
        <label>
          <input type="checkbox"> Noticias
        </label>
        <label>
          <input type="checkbox"> Web
        </label>
      </div>
      <div class="column">
        <span class="column-title">Análisis</span>
        <label>
          <input type="checkbox"> Análisis 1
        </label>
        <label>
          <input type="checkbox"> Análisis 2
        </label>
        <label>
          <input type="checkbox"> Análisis 3
        </label>
      </div>
    </div>
    <div class="button-send">
      <button type="button">Enviar búsqueda</button>
    </div>
  </Dropdown>
  <Dropdown class="recent-searches" :title="'Búsquedas recientes'">
    <div class="cards">
      <div class="card" v-for="i in [0, 1, 2]" :key="i">
        <div class="card-img"></div>
        <div class="card-content">
          <div class="card-title">Nombre</div>
          <div class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
          <div class="card-tags">
            <div class="card-tag">Lorem Ipsum</div>
            <div class="card-tag">Lorem Ipsum</div>
          </div>
        </div>
      </div>
    </div>
  </Dropdown>
</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Dropdown from '@/components/Dropdown.vue';

@Options({
  components: {
    Dropdown,
  },
})
export default class Home extends Vue {
  searchTerm = '';
  searchTerms: string[] = [];
  configShown = true;
  recentSearchShown = true;

  addSearchTerm(): void {
    if (this.searchTerm) {
      this.searchTerms.push(this.searchTerm);
      this.searchTerm = '';
    }
  }

  removeSearchTerm(i: number): void {
    this.searchTerms.splice(i, 1);
  }
}
</script>

<style lang="scss" scoped>
.home {
  min-width: 75rem;
  // width: fit-content;
  width: 80vw;
  max-width: 140rem;
  margin: 6rem auto;
  display: grid;
  grid-auto-rows: auto;
  gap: 3rem;

  .search {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    &-add {
      width: 4rem;
      height: 4rem;
      position: absolute;
      top: 1.2rem;
      right: 1.25rem;
      cursor: pointer;
    }

    input {
      width: 100%;
      padding: 2rem 6rem;
      color: black;
      background-color: white;
      border: 0.1rem solid transparent;
      border-radius: 2rem;
      box-shadow: 0.2rem 0.2rem 1rem 0.1rem $color-shadow;
      font-weight: bold;
      font-size: 105%;
      background-image: url('~@/assets/lens.svg');
      background-repeat: no-repeat;
      background-position: 1.25rem;
      background-size: 4rem;

      &:focus, &:focus-visible {
        // outline: 0.1rem solid $color-shadow; // Only works with radius on Firefox
        outline: none;
        border-color: $color-shadow;
      }
    }

    &-tags {
      padding: 0 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }

    &-tag {
      width: fit-content;
      padding: 0.8rem 1rem;
      color: white;
      background-color: $color-grey-darker;
      font-size: 1.1rem;
      font-weight: bold;
      border: none;
      border-radius: 2rem;
      cursor: pointer;
      box-shadow: 0.2rem 0.2rem 1rem 0.1rem $color-shadow;
    }
  }

  .config {
    .columns {
      padding: 2rem;
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      gap: 1rem;
      justify-items: center;

      .column {
        width: fit-content;
        display: grid;
        grid-auto-rows: auto;
        gap: 1rem;

        &-title {
          font-size: 105%;
        }

        input[type="date"] {
          justify-self: end;
        }
      }
    }

    .button-send {
      display: flex;
      justify-content: flex-end;
    }
  }

  .recent-searches {
    .cards {
      max-width: 100%;
      margin-top: 2rem;
      padding: 1rem 0.5rem;
      display: grid;
      grid-auto-columns: auto;
      grid-auto-flow: column;
      gap: 5rem;
      overflow-x: auto;

      .card {
        width: 36rem;
        height: 45rem;
        border: 0.1rem solid transparent;
        border-radius: 2rem;
        box-shadow: 0.2rem 0.2rem 1rem 0.1rem $color-shadow;
        overflow: hidden;
        cursor: pointer;

        &:hover {
          border-color: $color-shadow;
        }

        &-img {
          height: 28rem;
          background-color: $color-grey-dark;
        }

        &-content {
          padding: 2rem;
          display: grid;
          grid-template-rows: auto auto 1fr;
          gap: 0.5rem;
        }

        &-title {
          font-size: 125%;
        }

        &-tags {
          padding: 1rem 0;
          display: flex;
          flex-direction: row;
          gap: 2rem;
        }

        &-tag {
          width: fit-content;
          padding: 1rem 1.2rem;
          color: white;
          font-size: 1.6rem;
          font-weight: bold;
          border: none;
          border-radius: 2rem;
          box-shadow: 0.2rem 0.2rem 1rem 0.1rem $color-shadow;

          &:nth-child(odd) {
            background-color: $color-primary-lighter;
          }

          &:nth-child(even) {
            background-color: $color-secondary;
          }
        }
      }
    }
  }
}
</style>
