<template>
<div class="dropdown">
  <div class="dropdown-title" @click="shown = !shown">
    <span>{{ title }}</span>
    <div class="dropdown-title-line"></div>
    <img class="dropdown-title-indicator" src="@/assets/minus-color.svg" v-show="shown">
    <img class="dropdown-title-indicator" src="@/assets/plus-color.svg" v-show="!shown">
  </div>
  <div class="dropdown-content" v-show="shown">
    <slot></slot>
  </div>
</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  components: {
  },
  props: {
    title: {
      type: String,
      required: true,
      default: '',
    },
  },
})
export default class Dropdown extends Vue {
  public shown = true;
}
</script>

<style lang="scss" scoped>
.dropdown {
  &-title {
    color: black;
    font-size: 110%;
    font-weight: bold;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    gap: 2rem;
    align-items: center;
    cursor: pointer;

    &-line {
      height: 0.2rem;
      margin-top: -0.3rem;
      background: linear-gradient(to right, $color-primary, $color-secondary);
      box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem $color-shadow;
    }

    &-indicator {
      width: 1.5rem;
      margin-top: -0.3rem;
    }
  }

  &-content {
    min-width: 75rem;
    width: 80vw;
    max-width: 140rem;
    color: black;
    font-weight: bold;
  }
}
</style>
