<template>
<div class="footer">
  © Copyright 2021 by DeepTrends
</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  components: {
  },
})
export default class Footer extends Vue {

}
</script>

<style lang="scss" scoped>
.footer {
  padding: 2rem 3rem;
  color: $color-primary;
  background-color: black;
  font-weight: bold;
  font-size: 90%;
}
</style>
