<template>
<div class="header">
  <img class="logo" alt="logo" src="@/assets/logo.svg">
  <div class="navigation">
    <router-link to="/">{{ $t('home') }}</router-link>
    <router-link to="/adfs">{{ $t('statistics') }}</router-link>
    <router-link to="/asdf">{{ $t('results') }}</router-link>
  </div>
  <div class="user">
  </div>
</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  components: {
  },
})
export default class Header extends Vue {

}
</script>

<style lang="scss" scoped>
.header {
  padding: 1.5rem 3rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.1rem 1rem 0.1rem $color-shadow;

  .logo {
    max-width: 25rem;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    a {
      padding: 0 2rem;
      color: #2c3e50;
      font-size: 110%;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 0.3rem solid $color-grey;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.router-link-exact-active {
        color: $color-primary;
        border-bottom-color: transparent;
        border-image: linear-gradient(to right, $color-primary, $color-secondary) 1;
      }
    }
  }

  .user {
    width: 6rem;
    height: 6rem;
    border: 0.3rem solid transparent;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    justify-self: end;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      margin: -0.3rem;
      border-radius: inherit;
      background: linear-gradient(to right, $color-primary, $color-secondary);
    }
  }
}
</style>
